body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    background-image: url('tom-barrett-hgGplX3PFBg-unsplash.jpg');
    background-size: auto;

}

.card {
    padding: 80px;
    background-color: rgba(24, 24, 29, 0.897);
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    margin:1em;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(247, 247, 247);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    margin: 0.5em;
    padding: 12px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #7c7c7c2b;
    color: ivory;

}

input.search-bar {
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 50px;
    background-color: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 120%;
    padding: 0.6em 1em;
}
button:hover{
    background:#7c7c7c6b; 
}